*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px auto;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
  position: relative;
  padding-right: 15px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
} 

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
 }

 .content__video-card-description-container {
  flex: 1;
}

.search-form__fieldset-title{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  margin: 2px;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 6px 0 6px 2px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  margin-left: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  padding: 2px;
  border: 1px solid transparent;
}

button {
  cursor: pointer;
}

.search-form__checkbox-list {
  appearance: none;
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label {
  display: inline-flex;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  position: absolute;
  content: " ";
  width: 17px;
  height: 17px;
  background: white;
  border: 1px solid black;
}

.search-form__textfield {
  background: transparent;
  font-family: 'Fira Sans Condensed';
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0px;
  width: 225px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  border: 1px solid #FFFFFF;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  color: white;
}

.more-button {
  width: 399px;
  height: 34px;
  border: 1px solid #FFFFFF;
  font-family: 'Fira Sans Condensed';
  background: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #FFFFFF;
}

.search-form__label:hover, .button:hover, .content__video-card-description-container:hover {
  text-decoration: underline;
}

.search-form__submit-button:focus-visible {
  outline: none;
  border-style: double;
  border-width: 3px;
}

.search-form__submit-button:active {
  background-color: gray;
}

.content__card-link_current {
  background-color: gray;
}